*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #f4f0f0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2b2b2b;
}

.container{
    position: relative;
}

.clock{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(https://e0.pxfuel.com/wallpapers/324/940/desktop-wallpaper-itachi-uchiha-for-iphone-and-android-edo-itachi.jpg);
    background-color: rgba(18, 126, 159, 0.1);
    background-size: cover;
    border: 2px solid rgba(22, 201, 224, 0.25);
    box-shadow: 0px 0px 30px rgb(179, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i))); 
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 30px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3e24d0;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 5px;
    height: var(--h);
    border-radius: 8px;
}